{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="w-50 mx-auto">
		<div class="text-center my-4">
			<h1>Inscription</h1>
		</div>
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="mt-5">
			{{ form(registrationForm) }}
			</div>
		</div>
	{% endblock %}
