<h1>Bonjour {{ name }} !!</h1>

<p>Nous sommes heureux de vous annoncer qu'une réponse à votre question <strong>"{{ question }}"</strong> vient d'être postée</p>

<a href="{{ url }}">
    Cliquez ici pour voir la réponse
</a>

<p> A bientôt !!! </p>